.logoBlock {
    align-self: center;
}
  
.textDescription {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    max-width: 925px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 420px) {
    .textDescription {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
}